
/* App Style */

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Helvetica, Arial, Verdana, Sans;
}

.loading-status {
	text-align: center;
	line-height: 42px;
	text-transform: uppercase;
	transition: opacity 0.5s;
	opacity: 1;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
}

.loading-status.done {
	opacity: 0;
}

.wagon-container {
	position: relative;
	width: 1000px;
	height: 800px;
	margin: auto;
	overflow: hidden;
}

.wagon-container > * {
	opacity: 0;
	transition: opacity 0.5s;
}

.wagon-container.loaded > * {
	opacity: 1;
}


/* Background Landscape */

.wagon-container .landscape-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.wagon-container .landscape-wrapper .bg {
	transform: translate3d(0, 0, 0);
	height: 100%;
}

.wagon-container .landscape-wrapper .bg div {
	transform: translate3d(0, 0, 0);
	position: absolute;
	left: 0;
	height: 100%;
}

@keyframes translateLayer1 {
	0% { transform: translateX(0%); }
	100% { transform: translateX(-3253px); }
}

.wagon-container .landscape-wrapper .bg div.layer-1 { /* Ciel */
	z-index: 1;
	width: 4253px; /* 3253px + 1000px */
	top: 52px;
    background: url('../img/bg/layer-1.png') repeat-x top left;
    animation: translateLayer1 120s linear infinite;
}

@keyframes translateLayer2 {
	0% { transform: translateX(0%); }
	100% { transform: translateX(-3096px); }
}

.wagon-container .landscape-wrapper .bg div.layer-2 { /* Montagnes */
	z-index: 2;
	width: 4096px; /* 3096px + 1000px */
	bottom: 5px;
    background: url('../img/bg/layer-2.png') repeat-x bottom left;
    animation: translateLayer2 90s linear infinite;
}

@keyframes translateLayer3 {
	0% { transform: translateX(0%); }
	100% { transform: translateX(-3476px); }
}

.wagon-container .landscape-wrapper .bg div.layer-3 { /* Truc bleu */
	z-index: 3;
	width: 4476px; /* 3476px + 1000px */
	bottom: -22px;
    background: url('../img/bg/layer-3.png') repeat-x bottom left;
    animation: translateLayer3 70s linear infinite;
}



/* Background trees */

@keyframes translateTreesLayer {
	0% { transform: translateX(0%); }
	100% { transform: translateX(-8000px); }
}

.wagon-container .trees-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 9000px; /* 8000px + 1000px */
	height: 100%;
	z-index: 2;
	animation: translateTreesLayer 16s linear infinite;
}

.wagon-container .trees-wrapper div {
	position: absolute;
	background: transparent no-repeat center / 70%;
}

.wagon-container .trees-wrapper div.tree-1 {
	width: 323px;
	height: 560px;
	bottom: 1px;
	background-image: url('../img/arbre/tree-1.png') ;
}

.wagon-container .trees-wrapper div.tree-2 {
	width: 389px;
	height: 505px;
	bottom: 50px;
	background-image: url('../img/arbre/tree-2.png');
}

.wagon-container .trees-wrapper div.tree-3 {
	width: 254px;
	height: 536px;
	bottom: 40px;
	background-image: url('../img/arbre/tree-3.png');
}

.wagon-container .trees-wrapper div.tree-4 {
	width: 373px;
	height: 630px;
	bottom: 10px;
	background-image: url('../img/arbre/tree-4.png');
}


/* Wagon interior */

@keyframes wagonMovement {
  0%, 90% {
    transform: translateY(-1px);
  }
  
  20%, 80% {
    transform: translateY(2px);
  }

  30%, 50%, 70% {
    transform: translateY(-4px);
  }

  40%, 60% {
    transform: translateY(4px);
  }
}

@keyframes wagonShake {
  10%, 90% {
    transform: translateY(-2px);
  }

  40%, 60% {
    transform: translateY(2px);
  }
}

.wagon-container .interior-shake-helper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.wagon-container .interior-shake-helper.shake {
	animation: wagonShake 0.7s cubic-bezier(.36,.07,.19,.97);
}

.wagon-container .interior {
	position: absolute;
	top: -1%;
    left: -1%;
    width: 102%;
    height: 102%;
	background: url('../img/interior.png') no-repeat center / cover;
	animation: wagonMovement 10s cubic-bezier(.36,.07,.19,.97) infinite;
}